#dashboard {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at bottom right, #eef0f0,#24C6DC 10%, #514A9D 90%);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2em 0 0;

  .todolist-row{
    margin-top:150px;
  }
}

#quick-task{
  color: #fff;
  .input__label{
    color: #fff;
    font-size: 100%;

    @include screen('mobile'){
      font-size: 90%;
    }
  }
  .input__label::before{
    height: 3em;
  }
}

#new-todolist{
  height: 2.5em;
  font-size: 1.5em;

  @include screen('mobile'){
    height: 2.5em;
    font-size: 1em;
  }
}
