.todolist {
  margin: 15px;
  min-height: 100px;
  width: calc((100% / 3) - 30px);
  overflow: hidden;
  line-height: 1.2;
  float: left;
  opacity: 1;
  @include transition(box-shadow ease .3s)
  @include transition(opacity ease .5s)

  @include screen('mobile'){
    margin: 10px 15px;
    width: calc(100% - 30px);
  }

  &.init{
    opacity: 0;
    @include transition(opacity ease .5s)
  }

  .panel-heading {
    padding: 10px 0;
    @include cursor-drag;

    h2, .h2 {
      margin: 0;
    }

    .title { //The title/name of the todo list
      padding: 0 20px;
    }

    .buttons{
      opacity: 0;
      margin-right: 10px;
      position: absolute;
      right:0;
      @include transition(opacity ease-out .3s)
    }
    .buttons i{
      padding-left: 10px;
      @include transition(color ease-out .3s)
      &:hover{
        color: $brand-primary;
        cursor: pointer;
        @include transition(color ease-out .3s)
      }
    }

    &:hover{
      .buttons{
        opacity: 1;
        @include transition(opacity ease-out .3s)
      }
    }
  }

  .panel-body{
    padding: 10px 0;
    overflow-y:auto;
  }

  .task{
    margin: 2px 0;
    font-size: 1.1em;
    input{
      @include scale(1.1);
    }
    label{
      font-weight: 400;
      margin-left: 5px;
    }
  }
  .task.checked{
    label{
      text-decoration: line-through;
    }
  }
}

.todolist.ui-draggable-dragging, .todolist.is-positioning-post-drag{  //Basically when it's moved/active
  box-shadow: 0 0 15px 2px rgba(0,0,0,.6);
  z-index: 2;
  .panel-heading {
    @include cursor-draggable;
  }
}

.grid-sizer{
  width: calc((100% / 3) - 10px);
  @include screen('mobile'){
    width: calc(100% - 15px);
  }
}
.gutter-sizer{
  width: 10px;
}

.packery-drop-placeholder {
  margin: 15px;
  outline: 3px dashed rgba(255,255,255,.7);
  outline-offset: -6px;
  @include transition(transform 0.3s)
}
