.todolist {
  margin: 15px;
  min-height: 100px;
  width: calc((100% / 3) - 30px);
  overflow: hidden;
  float: left;
  @include transition(box-shadow ease .3s)

  @include screen('mobile'){
    margin: 0 15px;
    width: calc(100% - 30px);
  }

  .panel-heading {
    padding: 10px 0;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;

    h2, .h2 {
      margin: 0;
    }

    .title { //The title/name of the todo list
      padding: 0 20px;
    }
  }

  .panel-body{
    padding: 10px 0;
    overflow-y:auto;
  }
}

.todolist.ui-draggable-dragging, .todolist.is-positioning-post-drag{  //Basically when it's moved/active
  box-shadow: 0 0 15px 2px rgba(0,0,0,.6);
  z-index: 2;
  .panel-heading {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
}

.grid-sizer{
  width: calc((100% / 3) - 15px);
  @include screen('mobile'){
    width: calc(100% - 15px);
  }
}
.gutter-sizer{
  width: 15px;
}

.packery-drop-placeholder {
  margin: 15px;
  outline: 3px dashed rgba(255,255,255,.7);
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
